<!DOCTYPE html>
<html lang="vi">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Interface</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/createMeeting.css">
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>

    <body>
        <header class="header">
            <div class="search-bar">
                <input type="text" placeholder="Cái này dùng để search lịch sử cuộc họp">
            </div>
        </header>

        <div class="container">
            <div class="main-content">
                <div class="meeting-name">
                    Tên cuộc họp
                </div>
                <div class="meeting-logs">
                    <h3 class="text-center .fs-5 text-primary">Nội dung cuộc họp</h3>
                    <div class="" id="content-logs">
                        
                    </div>
                </div>
            </div>
            {% include 'components/addMeeting.html' %}
        </div>
    </body>
    <script src="../static/js/createMeeting.js"></script>
    <script src="../static/js/logMeeting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script>
        const contentLogs = document.getElementById("content-logs");
        console.log(contentLogs);

        const client = mqtt.connect("wss://7135442a5e904296bf8f44f17ea3feec.s1.eu.hivemq.cloud:8884/mqtt", {
            username: "tienhiep345",
            password: "Hiep2003",
        });

        client.on("connect", function () {
            console.log("Kết nối MQTT thành công!");
            let topics = ["zoom/participant/joined", "zoom/participant/left"];
            client.subscribe(topics, function (err) {
                if (!err) {
                    console.log("Đã đăng ký 2 chủ đề");
                } else {
                    console.error("Lỗi khi đăng ký chủ đề:", err);
                }
            });
        });

        client.on("message", function (topic, message) {
            let messageJSON = JSON.parse(message.toString());
            if (topic === "zoom/participant/joined") {
                contentLogs.innerHTML += `<p class="d-flex align-items-center"><span class="text-success mr-2" style="font-size: 25px">&bull;</span> ${messageJSON['join_time']}: ${messageJSON['name']} ${messageJSON['content']}</p>`;
            } else if (topic === "zoom/participant/left") {
                contentLogs.innerHTML += `<p class="d-flex align-items-center"><span class="text-danger mr-2" style="font-size: 25px">&bull;</span> ${messageJSON['leave_time']}: ${messageJSON['name']} ${messageJSON['content']} </p>`;
            }
        });

        client.on("error", function (err) {
            console.error("Lỗi MQTT:", err);
        });

        client.on("close", function () {
            console.log("Đã đóng kết nối MQTT.");
        });
    </script>
</html>