<!DOCTYPE html>
<html lang="vi">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Interface</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/createMeeting.css">
    <link rel="stylesheet" href="../static/css/meetingLogs.css">
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>

    <body style="background-color: #e5e5e5;">
        <header class="header">
            <div class="search-bar">
                <input type="text" placeholder="Cái này dùng để search lịch sử cuộc họp">
            </div>
        </header>

        <div class="container">
            <div class="main-content">
                <div class="meeting-name">
                    Tên cuộc họp
                </div>
                <div class="meeting-logs">
                    <h3 class="text-center .fs-5 text-primary">Nội dung cuộc họp</h3>
                    <div class="" id="content-logs">
                        
                    </div>
                </div>
            </div>
            {% include 'components/addMeeting.html' %}
        </div>
    </body>
    <script src="/static/js/createMeeting.js"></script>
    <script src="/static/js/logMeeting.js"></script>
    <script>
        const contentLogs = document.getElementById("content-logs");

const client = mqtt.connect("wss://7135442a5e904296bf8f44f17ea3feec.s1.eu.hivemq.cloud:8884/mqtt", {
    username: "tienhiep345",
    password: "Hiep2003",
});

client.on("connect", function () {
    console.log("Kết nối MQTT thành công!");
    let topics = ["zoom/participant/joined", "zoom/participant/left"];
    client.subscribe(topics, function (err) {
        if (!err) {
            console.log("Đã đăng ký 2 chủ đề");
        } else {
            console.error("Lỗi khi đăng ký chủ đề:", err);
        }
    });
});

client.on("message", function (topic, message) {
    let messageJSON = JSON.parse(message.toString());
    console.log(messageJSON);
    if (topic === "zoom/participant/joined") {
        contentLogs.innerHTML += `<p><span class="text-success">&bull;</span>[${messageJSON['join_time']}]: ${messageJSON['name']} ${messageJSON['content']}</p>`;
    } else if (topic === "zoom/participant/left") {
        contentLogs.innerHTML += `<p><span class="text-danger">&bull;</span>[${messageJSON['leave_time']}]: ${messageJSON['name']} ${messageJSON['content']} </p>`;
    }
});

client.on("error", function (err) {
    console.error("Lỗi MQTT:", err);
});

client.on("close", function () {
    console.log("Đã đóng kết nối MQTT.");
});
    </script>
</html>